# configurazione router ECOSCANDAGLIO di Esule (edificio E)
# con protocollo RIP

interfaces{
 interface 192.168.105.203 	active;		# Verso DMZ
 interface 192.168.105.202 	passive;	# sottorete interna

 rip yes {
           broadcast;
           interface 192.168.105.203 {
                     version 2
                     multicast
                     authentication simple "RIPauth";
           };
 };

 export proto rip metric 0 {
           proto direct interface 192.168.105.202 {
                     network 192.168.105.0};
 };

};
