# Routing statico all'interno della DMZ
# Edificio E
route -n add 212.10.6.2 212.10.6.0 # Server Mail MOZZO
route -n add 212.10.6.3 212.10.6.0 # Server DNS EMBARGO
route -n add 212.10.6.4 212.10.6.0 # Server Web AMMIRAGLIO
route -n add 212.10.6.5 212.10.6.0 # Server Proxy FILIBUSTIERE

route -n add 212.10.6.6 212.10.6.0 # Firewall CIRCUMNAVIGANTE
route -n add 212.10.6.7 212.10.6.0 # Firewall CHIGLIA

route -n add 212.10.6.70 212.10.6.0 # Firewall ENTROBORDO
route -n add 212.10.6.60 212.10.6.0 # Firewall FUORIBORDO

#
