#Configurazione del Router "CHIGLIA" tramite protocollo RIP.
#Firewall interno Edificio C

interfaces {
	interface 192.168.103.203 active; # Verso CONTROFIOCCO	
	interface 212.10.6.7 passive; 	  # DMZ
};

rip yes {
	broadcast; 
    	interface 192.168.103.203 {
		version 2;
		multicast;
		authentication simple "RIPauth"; 
	};
	
};

export proto rip metric 0 {;
	proto direct interface 212.10.6.7 {
		network 212.10.6.0;
	}; 
};

#
