#Configurazione del Router "CHIGLIA" tramite protocollo RIP.
#Router Edificio C

interfaces {
	interface 192.168.3.202 active; # Verso CONTROFIOCCO
	interface 212.10.6.0 passive; # Verso rete interna 
};

rip yes {
	broadcast; 
    interface 192.168.3.202 {
		version 2;
        multicast;
        authentication simple "RIPauth"; 
	};
};

export proto rip metric 0 {;
	proto direct interface 212.10.6.1 {
		network 212.10.6.0;
	}; 
};