#Configurazione del Router "CIRCUMNAVIGANTE" tramite protocollo RIP.
#Firewall esterno Edificio C

interfaces {
	interface 78.4.240.30 active; # Verso "Internet"
	interface 212.10.6.6 passive; # Verso rete interna DMZ
};

rip yes {
	broadcast; 
    interface 78.4.240.30 {
		version 2;
        multicast;
        authentication simple "RIPauth"; 
	};
};

export proto rip metric 0 {;
	proto direct interface 212.10.6.6 {
		network 212.10.6.0;
	}; 
};

#
