#Configurazione del Router "CONTROFIOCCO" tramite protocollo RIP.
#Router Edificio C

interfaces {
	interface 192.168.101.202 active;		# verso APPRODO di Ancora (edificio A)
	interface 192.168.102.202 active;		# verso BANCHINA di Babordo (edificio B)
	interface 192.168.104.202 active;		# verso DERIVA di Dritta (edificio D)
	interface 192.168.103.203 active;		# verso ECOSCANDAGLIO di Esule (edificio E) tramite DMZ
	interface 192.168.103.202 passive; 		
	interface 192.168.103.210 active; 		# Verso DNS	
	interface 192.168.113.2 passive;		# verso sottorete1
	interface 192.168.123.2 passive;		# verso sottorete2

};

#EDIFICI
rip yes { 
	broadcast; 
	#Approdo
	interface 192.168.101.202 { 
		version 2
		multicast 
		authentication simple "RIPauth";
	}; 
	#Banchina
	interface 192.168.102.202 { 
		version 2
		multicast 
		authentication simple "RIPauth";
	};
	#Deriva
	interface 192.168.104.202 { 
		version 2
		multicast 
		authentication simple "RIPauth"; 
	};
	#Ecoscandaglio
	interface 192.168.103.203 { 
		version 2
		multicast 
		authentication simple "RIPauth"; 
	};
	#DNS
	interface 192.168.103.210 {
		version 2;
        	multicast;
        	authentication simple "RIPauth"; 
	};
	
};

## Rete interna da controfiocco split a sottoreti per i 260 utenti 
#sottorete 1
export proto rip metric 0 {;
	proto direct interface 192.168.113.2 { 
		network 192.168.113.0;
	}; 
};
# sottorete 2
export proto rip metric 0 {;
	proto direct interface 192.168.123.2 {
		network 192.168.123.0;
	}; 
};

#
