# Routing statico all'interno della DMZ

route -n add 212.10.6.2 212.10.6.0 # Server Mail MOZZO
route -n add 212.10.6.3 212.10.6.0 # Server DNS CAPITANO
route -n add 212.10.6.4 212.10.6.0 # Server Web AMMIRAGLIO
route -n add 212.10.6.5 212.10.6.0 # Server Proxy FILIBUSTIERE

route -n add 212.10.6.6 212.10.6.0 # Firewall CIRCUMNAVIGANTE
route -n add 212.10.6.7 212.10.6.0 # Firewall CHIGLIA

# Edificio E
route -n add 212.10.6.30 212.10.6.0 # Server DNS COMANDANTE
route -n add 212.10.6.20 212.10.6.0 # Server di Backup NOSTROMO 

route -n add 212.10.6.70 212.10.6.0 # Firewall ENTROBORDO
route -n add 212.10.6.60 212.10.6.0 # Firewall FUORIBORDO

#
