#Configurazione del Router "CONTROFIOCCO" tramite protocollo RIP.
#Router Edificio C

interfaces {
	interface 192.168.101.202 active;		# verso APPRODO di Ancora (edificio A)
	interface 192.168.102.202 active;		# verso BANCHINA di Babordo (edificio B)
	interface 192.168.104.202 active;		# verso DERIVA di Dritta (edificio D)
	interface 192.168.3.203 active;			# verso ECOSCANDAGLIO di Esule (edificio E) tramite DMZ
	interface 192.168.3.202 passive; 		# verso rete interna
};

#EDIFICI
rip yes { 
	broadcast; 
	#Approdo
	interface 192.168.101.202 { 
		version 2
		multicast 
		authentication simple "RIPauth";
	}; 
	#Banchina
	interface 192.168.102.202 { 
		version 2
		multicast 
		authentication simple "RIPauth";
	};
	#Deriva
	interface 192.168.104.202 { 
		version 2
		multicast 
		authentication simple "RIPauth"; 
	};
	#Ecoscandaglio
	interface 192.168.3.203 { 
		version 2
		multicast 
		authentication simple "RIPauth"; 
	}; 
};
#sottorete 1
export proto rip metric 0 {;
	proto direct interface 192.168.3.1 {
		network 192.168.3.0;
	}; 
};
# sottorete 2
export proto rip metric 0 {;
	proto direct interface 192.168.7.1 {
		network 192.168.7.0;
	}; 
};