#Configurazione del Router "BANCHINA" tramite protocollo RIP.
#Router Edificio B (utenti 100)

interfaces {
	interface 192.168.102.223 active; # Verso Carena
	interface 192.168.102.224 active; # Verso Dritta
	interface 192.168.102.202 passive; # Verso rete interna

};    #todo aggiungere interfaccia verso server di app aziendale

rip yes {
	broadcast; 
    interface 192.168.102.223 {
		version 2;
        multicast;
        authentication simple "RIPauth"; 
	};

	interface 192.168.102.224 {
		version 2;
        multicast;
        authentication simple "RIPauth"; 
	};
};

export proto rip metric 0 {;
	proto direct interface 192.168.102.202 {
		network 192.168.102.0;
	}; 
};