#Configurazione del Router "APPRODO" tramite protocollo RIP.
#Router Edificio A

interfaces {
	interface 192.168.101.213 active; # Verso Controfiocco
	interface 192.168.101.202 passive; # Verso rete interna
};

rip yes {
	broadcast;
	interface 192.168.101.213 {
		version 2;
        multicast;
        authentication simple "RIPauth"; 
	};
};

export proto rip metric 0 {;
	proto direct interface 192.168.101.202 {
		network 192.168.101.0;
	}; 
};